.mitabla {
    /*margin: 0 auto !important;
    width: 80% !important;*/
}
.MuiPaper-root-403 > .MUIDataTable-responsiveStacked-399 {
    margin-top: -1% !important;
}
div.MuiPaper-root > section {
    background: #fff !important;
}

div.MUIDataTableToolbar-left-752 {
    width: 100% !important;
}

div.MUIDataTableToolbar-actions-754{
    width: 100% !important;
}
div.MUIDataTableToolbar-left-944{
    width: 100% !important;
}

div.MUIDataTableToolbar-actions-946{
    width: 100% !important;
}

table {
    margin: 0em !important;
}

div#prueba > div > div.MuiPaper-root {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

div#prueba > div > div.MuiPaper-root > div{
    margin-bottom: 0px !important;
}


div#prueba > div > div.MuiPaper-root > section {
    padding: 0px !important;
}

.MUIDataTableToolbar-actions-435{
    z-index: 1000000 !important;
}

.MUIDataTableToolbar-left{
    z-index: 1000000 !important;
}


section.PapperBlock-content-385{
    padding: 0px !important;
}

/*.MUIDataTableBodyCell-root-602 {
    font-size: 11px !important;
}*/

.AdvFilter-table-370 > .MuiPaper-root {
    padding: 0px !important;
}

th, td {
    padding: 0.3em !important;
    font-size: 11.4px !important;
}

.AdvFilter-table-370 > div.MuiPaper-roo.PapperBlock-root-380.MuiPaper-elevation0.MuiPaper-rounded {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

@keyframes appear {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    75% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
}

/*.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 0px !important;
}*/
