.mitablaRep {
    margin: 0 auto !important;
    width: 80% !important;
}

div.MuiPaper-root > section {
    background: #fff !important;
}

/*.mitablaRep1 > div > .MuiPaper-root > section > div.mitablaRep > table > div.MUIDataTable-responsiveStacked-399 > table > tbody > */

td {
    text-align: center !important;
    padding: 0.3em !important;
    font-size: 11.4px !important;
}

.mitablaRep1 > div > div.MuiPaper-root > div.PapperBlock-descBlock-3726 {
    margin-bottom: 0px !important;
}

@keyframes appear {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    75% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
}

th > span {
    text-align: center !important;
    display: flow-root !important;
}