<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
</head>

<body>
  <h1>My Node App</h1>
  <h4>modulo ram:</h4>
  <table>
    <tr>
      <td>_id</td>
      <td>memoria_total</td>
      <td>memoria_uso</td>
      <td>memoria_libre</td>
      <td>cached</td>
      <td>buffers</td>
      <td>porcentaje_de_memoria_uso</td>
    </tr>
    <% rams.forEach(function(ram) { %>
      <tr>
        <td><%= ram._id %></td>
        <td><%= ram.memoria_total %></td>
        <td><%= ram.memoria_uso %></td>
        <td><%= ram.memoria_libre %></td>
        <td><%= ram.cached %></td>
        <td><%= ram.buffers %></td>
        <td><%= ram.porcentaje_de_memoria_uso %> </td>
      </tr>
      <% }); %>
    </table>
</body>

</html>