<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Node App</title>
</head>

<body>
    <h1>My Node App</h1>
    <h4>Modulo lista de procesos:</h4>
    <pre>
        <% tops.forEach(function(top) { %>
            <%= top.dato.replace(/-----/gi,'-----------------------------------------------------')%>
        <% }); %>
    </pre>
</body>

</html>